@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.page_width {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hero_section {
  background: url("../assests/onload_img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.main-bg {
  background: url(../assests/bg-main.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.transform {
  transform: translate(-50%, -50%);
}

.swiper-pagination {
  top: 0 !important;
  z-index: 1;
  position: absolute !important;
  bottom: unset !important;
}

.swiper-button-next {
  bottom: 90px !important;
  top: 70% !important;
}

.swiper-button-prev {
  bottom: 90px !important;
  top: 70% !important;
}

.aos-animate {
  opacity: 1 !important;
  transform: none !important;
}
.titleHeading {
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.textShadow {
  text-shadow: 1px 2px 2px rgb(27, 27, 27);
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  background: white !important;
}

.swiper-pagination-bullet-active {
  background: #2f52a0 !important;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  height: 24px;
  width: 24px;
  background-color: #f0e4d5;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #eadecf;
}

.custom-checkbox input:checked + .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.label-text {
  font-size: 16px;
  color: #000;
}
.rtl {
  direction: rtl !important;
  text-align: right !important;
  padding-right: 20px !important;
}

.productShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.textShadows {
  color: white; /* Text color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.progressbar-progress{
  background-color: #2e519e !important;
}
@media (max-width: 639px) {
  .swiper-button-next {
    right: 2px !important;
  }
}
